@mixin flex_center($display: flex) {
  display: $display;
  justify-content: center;
  align-items: center;
}

@mixin flex_grid($gap, $v_gap: null) {
  @include flex_center();
  flex-wrap: wrap;
  align-items: baseline;
  margin: calc(-1 * #{$gap} / 2);

  @if $v_gap {
    margin-top: calc(-1 * #{$v_gap} / 2);
    margin-bottom: calc(-1 * #{$v_gap} / 2);
  }
}
@mixin flex_grid_item($cols, $gap, $v_gap: null) {
  align-self: stretch;
  
  width: calc((100% - (#{$gap} * #{$cols})) / #{$cols});
  margin: calc(#{$gap} / 2);

  @if $v_gap {
    margin-top: calc(#{$v_gap} / 2);
    margin-bottom: calc(#{$v_gap} / 2);
  }
}
